In [2]:
import pandas as pd
import zipfile
import os

In [1]:


# Path to the directory containing CSV files
input_directory = os.path.join(os.path.expanduser('~'), 'Desktop', 'CBTableauProject')
output_file = os.path.join(input_directory, 'merged.csv')

data_frames = []

# Iterate through zipped CSV files
for filename in os.listdir(input_directory):
    if filename.endswith('.csv.zip'):
        file_path = os.path.join(input_directory, filename)
        print(f"Extracting and reading file: {filename}")
        
        # Extract the CSV file from the ZIP archive
        with zipfile.ZipFile(file_path, 'r') as zip_ref:
            extracted_filename = zip_ref.namelist()[0]  # Get the name of the extracted CSV file
            zip_ref.extract(extracted_filename, input_directory)
            
            # Read the extracted CSV file
            df = pd.read_csv(os.path.join(input_directory, extracted_filename), encoding='utf-8')
            data_frames.append(df)
            
            # Remove the extracted CSV file to clean up
            os.remove(os.path.join(input_directory, extracted_filename))

# Concatenate all DataFrames into a single DataFrame
if data_frames:
    merged_df = pd.concat(data_frames, ignore_index=True)
    # Write the merged DataFrame to the output CSV file
    merged_df.to_csv(output_file, index=False)
    print("CSV files merged successfully!")
else:
    print("No CSV files found or read successfully.")

Extracting and reading file: 201903-citibike-tripdata.csv.zip
Extracting and reading file: 201906-citibike-tripdata.csv.zip
Extracting and reading file: 201909-citibike-tripdata.csv.zip
Extracting and reading file: 201912-citibike-tripdata.csv.zip
Extracting and reading file: 202003-citibike-tripdata.csv.zip
Extracting and reading file: 202006-citibike-tripdata.csv.zip
Extracting and reading file: 202009-citibike-tripdata.csv.zip
Extracting and reading file: 202012-citibike-tripdata.csv.zip
CSV files merged successfully!

In [3]:
#Set the merged CSV to a variable and read it in. 
mergedcsv_file_path = 'CBTableauProject/merged.csv'
mergedcsv_df = pd.read_csv(mergedcsv_file_path)

In [4]:
# Now you can work with the DataFrame
print(mergedcsv_df.head())

   tripduration                 starttime                  stoptime
0          1463  2019-03-01 00:00:16.0970  2019-03-01 00:24:39.3880  \
1           285  2019-03-01 00:00:32.3850  2019-03-01 00:05:18.1830
2           686  2019-03-01 00:00:47.7970  2019-03-01 00:12:14.3090
3           442  2019-03-01 00:01:01.2090  2019-03-01 00:08:23.7510
4          2913  2019-03-01 00:01:09.2810  2019-03-01 00:49:42.3810

   start station id    start station name  start station latitude
0             319.0  Fulton St & Broadway               40.711066  \
1             439.0        E 4 St & 2 Ave               40.726281
2             526.0       E 33 St & 5 Ave               40.747659
3            3474.0     6 Ave & Spring St               40.725256
4             379.0       W 31 St & 7 Ave               40.749156

   start station longitude  end station id             end station name
0               -74.009447           347.0  Greenwich St & W Houston St  \
1               -73.989780           150.0            E 2 St & Avenue C
2               -73.984907          3474.0            6 Ave & Spring St
3               -74.004121           355.0        Bayard St & Baxter St
4               -73.991600           212.0      W 16 St & The High Line

   end station latitude  end station longitude  bikeid    usertype
0             40.728846             -74.008591   35618  Subscriber  \
1             40.720874             -73.980858   31113  Subscriber
2             40.725256             -74.004121   19617  Subscriber
3             40.716021             -73.999744   27086  Subscriber
4             40.743349             -74.006818   34791  Subscriber

   birth year  gender
0        1989       1
1        1980       1
2        1987       1
3        1987       2
4        1991       1

In [5]:
print(mergedcsv_df.dtypes)

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [6]:
#ditctionary mapping the numerical values for gender to Male/Female or unknown 
Mapping = {0:'Unknown', 1:'Male', 2:'Female' }

In [7]:
#Use the map method to change the values in the GENDER column to unknown, male or female dependant on 0, 1 or 2 as the initial value 
mergedcsv_df['gender'] = mergedcsv_df['gender'].map(Mapping)

In [8]:
#Display the new CSV table 
mergedcsv_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,Male
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,Male
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,Male
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,Female
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13381319,2045,2020-12-31 23:58:21.7040,2021-01-01 00:32:27.1570,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3614.0,Crescent St & 30 Ave,40.768692,-73.924957,36467,Subscriber,1994,Male
13381320,288,2020-12-31 23:58:37.8400,2021-01-01 00:03:26.3250,3307.0,West End Ave & W 94 St,40.794165,-73.974124,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,47749,Subscriber,1969,Unknown
13381321,152,2020-12-31 23:58:52.8090,2021-01-01 00:01:25.6720,3510.0,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,48691,Customer,1969,Unknown
13381322,654,2020-12-31 23:59:55.9550,2021-01-01 00:10:50.6050,4073.0,W 51 St & Rockefeller Plaza,40.759700,-73.978082,500.0,Broadway & W 51 St,40.762288,-73.983362,49564,Subscriber,1994,Male
13381323,2589,2020-12-31 23:59:57.4070,2021-01-01 00:43:06.4490,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47364,Customer,1969,Unknown

In [9]:
# save the dataframe to a csv file
mergedcsv_df.to_csv('CBTableauProject/cleanedmerged.csv')